<style type="text/css">
			.parent{
				margin: 0 ;
				max-width: 100%;
				display: grid;
				grid-gap: 0px;
				grid-template-columns: repeat(12,1fr);
				grid-auto-rows: minmax(50px,auto);
				background-color: black;
			}
			
			.parent>div{
				padding: 0px;
			}

			.nav{
				width: 100%;
				height: 20px;
				background-color: #FFD36E;
				z-index: 100;
			}
			.navi{
				grid-column: 1/13;
				grid-row: 1/4;
				background-color: white;
				border-bottom: 1px solid lightgray;
			}

			.header{
				grid-column: 1/13;
				grid-row: 4/10;
				background-color: whitesmoke;
				text-align: right;	
				background-image: url("pictures/bgnews.jpg");
				background-size: cover;
				background-position: top;
				background-repeat: no-repeat;
			}


			.body1{
				grid-column: 1/11;
				grid-row: 10/21;
				background-color:#FAFAFA;
			}


			.sidebarright{
				grid-column: 11/13;
				grid-row:10/21;
				background-color:#FAFAFA;
			}

			.footer{
				grid-column: 1/13;
				grid-row: 21/22;
				background-color: #FFD36E;
				text-align: center;	
				font-size: 18px;
			}
			
			.p1{
				color: #062C30;
				font-family: Arial;
				font-size: 90px;
				opacity: 0.9;
				float: center;
				position: absolute;	
				margin: 195px 0px 0px 170px;	
				z-index: 100;
				animation-name: header;
 				animation-duration: 2s;
  				animation-delay: 0s;
			}

			.p2{
				color: #203239;
				font-family: Arial;
				font-size: 24px;
				opacity: 0.9;
				margin: 80px 0px 0px 170px;	
				animation-name: text;
 				animation-duration: 3s;
  				animation-delay: 0s;
			}

			.p3{
				color: #062C30;
				font-family: Trebuchet MS;
				font-size: 24px;
				position: absolute;
				margin-top: 42px;
				opacity: 0.7;
				float: left;
				padding: 10px;
				border: 2px solid white;
				animation-name: fade;
 				animation-duration: 1s;
  				animation-delay: 0s;
  				transition: 0.5s;
			}

			.logo{
				width: 8%;
				height: 100px;
				object-fit: cover;
				margin: 15px 0px 0px 100px;
				float: left;
			}

			a{
				text-decoration: none;
			}

			.p3:hover{		
				opacity: 0.9;
				border-bottom: 2px solid #FFD36E;
			}

			@keyframes fade{
			  0%   {margin-top: 10px; opacity: 0.2;}
			  100% {margin-top: 42px; opacity: 0.7;}
			}

			@keyframes header{
			  0%   {margin: 195px 0px 0px -500px;}
			  100% {margin: 195px 0px 0px 170px;}
			}

			@keyframes text{
			  0%   {opacity: 20%;}
			  100% {opacity: 100%;}
			}
</style>