<style>
			.parent{
				margin: 0 ;
				max-width: 100%;
				display: grid;
				grid-gap:0px;
				grid-template-columns: repeat(12,1fr);
				grid-auto-rows: minmax(50px,auto);
				background-color: black;
			}
			
			.parent>div{
				padding: 0px;
			}

			.nav{
				width: 100%;
				height: 20px;
				background-color: #FFD36E;
				z-index: 100;
			}
			.navi{
				grid-column: 1/13;
				grid-row: 1/4;
				background-color: white;
				border-bottom: 1px solid lightgray;
			}

			.body1{
				grid-column: 1/13;
				grid-row: 4/22;
				background-color: white;
				text-align: justify;	
			}


			.body2{
				grid-column: 1/13;
				grid-row: 22/30;
				background-color: #FAFAFA;
				text-align: center;		
			}


			.body3{
				grid-column: 1/13;
				grid-row: 30/47;
				background-color: white;
				text-align: left;	
				text-align: justify;
			}

			.footer{
				grid-column: 1/13;
				grid-row: 47/48;
				background-color: #FFD36E;
				text-align: center;	
				font-size: 18px;
			}

			
			.p1 , .p4 , .p6{
				color: #FFD36E;
				font-family: Arial;
				font-size: 70px;		
				animation-name: header;
 				animation-duration: 2s;
  				animation-delay: 0s;
			    margin-top: 130px;
			    margin-left: 30px;
			    float: left;
			}

			.p4{
			    margin: 80px 0px 0px 400px;
			    float: center;
			}

			.p6{
			    margin: 150px 0px 0px 300px;
			    font-size: 40px;
			}

			.p5{
			    color: #062C30;
				font-family: Arial;
				font-size: 24px;
				margin: 180px 0px 0px 460px;	
				animation-name: text;
 				animation-duration: 3s;
  				animation-delay: 0s;
  				position: absolute;

			}

			.p7{
			    color: #062C30;
				font-family: Arial;
				font-size: 24px;
				margin: 270px 0px 0px 300px;	
				animation-name: text;
 				animation-duration: 3s;
  				animation-delay: 0s;
  				position: absolute;
  				float: left;
  				background-color: ;
  				width:  450px;
  				height: 150px;
  				text-align: justify;

			}

			.p2{
				color: #062C30;
				font-family: Arial;
				font-size: 24px;
				margin: 330px 0px 0px 985px;	
				animation-name: text;
 				animation-duration: 3s;
  				animation-delay: 0s;
  				position: absolute;
  				width:  730px;
  				height: 150px;
  				text-align: justify;
			}

			.p3{
				color: #062C30;
				font-family: Trebuchet MS;
				font-size: 24px;
				position: absolute;
				margin-top: 42px;
				opacity: 0.7;
				float: left;
				padding: 10px;
				border: 2px solid white;
				animation-name: fade;
 				animation-duration: 1s;
  				animation-delay: 0s;
  				transition: 0.5s;
			}


			.logo{
				width: 8%;
				height: 100px;
				object-fit: cover;
				margin: 15px 0px 0px 100px;
				float: left;
			}

			a{
				text-decoration: none;
			}

			.p3:hover{		
				opacity: 0.9;
				border-bottom: 2px solid #FFD36E;
			}

			@keyframes fade{
			  0%   {margin-top: 10px; opacity: 0.2;}
			  100% {margin-top: 42px; opacity: 0.7;}
			}

			@keyframes header{
			  0%   { opacity: 0.2;}
			  100% {opacity: 1.0;}
			}

			@keyframes text{
			  0%   {opacity: 20%;}
			  100% {opacity: 100%;}
			}

			.pic1{
				height: 700px;
				width: 670px;
				object-fit: cover;
				margin-left: 280px;
				margin-top: 100px;
				float: left;
			}
			
			.pic2{
				height:550px;
				width: 20%;
				object-fit: cover;
				margin-left: 70px;
				margin-top: 140px;
				position: absolute;
			}

			.pic3{
				height:550px;
				width: 20%;
				object-fit: cover;
				margin-left: 480px;
				margin-top: 140px;
				position: absolute;
			}


		</style>